<a href="https://colab.research.google.com/github/anniemburu/Titanic/blob/main/cleaning_EDA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

from sklearn.preprocessing import OrdinalEncoder
%matplotlib inline

In [2]:
train = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/Machine Learning Projects/Titanic/train.csv')
test = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/Machine Learning Projects/Titanic/test.csv')
train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [3]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [4]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  418 non-null    int64
 1   Pclass       418 non-null    int64
 2   Name         418 non-null    object
 3   Sex          418 non-null    object
 4   Age          332 non-null    float64
 5   SibSp        418 non-null    int64
 6   Parch        418 non-null    int64
 7   Ticket       418 non-null    object
 8   Fare         417 non-null    float64
 9   Cabin        91 non-null     object
 10  Embarked     418 non-null    object
dtypes: float64(2), int64(4), object(5)
memory usage: 36.0+ KB

In [5]:
train.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [6]:
train.corr() #check correlattion

<ipython-input-6-ac4ee6c905f5>:1: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  train.corr() #check correlattion

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
PassengerId,1.000000,-0.005007,-0.035144,0.036847,-0.057527,-0.001652,0.012658
Survived,-0.005007,1.000000,-0.338481,-0.077221,-0.035322,0.081629,0.257307
Pclass,-0.035144,-0.338481,1.000000,-0.369226,0.083081,0.018443,-0.549500
Age,0.036847,-0.077221,-0.369226,1.000000,-0.308247,-0.189119,0.096067
SibSp,-0.057527,-0.035322,0.083081,-0.308247,1.000000,0.414838,0.159651
Parch,-0.001652,0.081629,0.018443,-0.189119,0.414838,1.000000,0.216225
Fare,0.012658,0.257307,-0.549500,0.096067,0.159651,0.216225,1.000000

In [7]:
train.isnull().sum() #check for nulls in train

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [8]:
test.isnull().sum() #check for nulls in test

PassengerId      0
Pclass           0
Name             0
Sex              0
Age             86
SibSp            0
Parch            0
Ticket           0
Fare             1
Cabin          327
Embarked         0
dtype: int64

In [9]:
train.duplicated().sum() #check for duplicates in train

0

In [10]:
test.duplicated().sum() #check for nulls in test

0

## Cleaning

In [11]:
# deal with null ages
train_mean_age = train.groupby(['Sex'])['Age'].mean()   #mean for each sex train
test_mean_age = test.groupby(['Sex'])['Age'].mean()   #mean for each sex train

#train
train.loc[pd.isnull(train['Age']) & (train['Sex'] == "female"), "Age"] = round(train_mean_age.loc['female'], 2)
train.loc[pd.isnull(train['Age']) & (train['Sex'] == "male"), "Age"] = round(train_mean_age.loc['male'], 2)

#test
test.loc[pd.isnull(test['Age']) & (test['Sex'] == "female"), "Age"] = round(test_mean_age.loc['female'], 2)
test.loc[pd.isnull(test['Age']) & (test['Sex'] == "male"), "Age"] = round(test_mean_age.loc['male'], 2)

In [12]:
#change data types
columns = ['Survived', 'Sex', 'Embarked',"Pclass"]

for col in columns:
  train[col] = train[col].astype('string')
  train[col] = train[col].astype('category')

  try:
    test[col] = test[col].astype('string')
    test[col] = test[col].astype('category')
  except:
    pass

train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    category
 2   Pclass       891 non-null    category
 3   Name         891 non-null    object
 4   Sex          891 non-null    category
 5   Age          891 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    category
dtypes: category(4), float64(2), int64(3), object(3)
memory usage: 59.8+ KB

In [13]:
# EDA Ready
eda_train = train.drop(['Cabin','Ticket',"PassengerId", "Name"], axis = 1)

eda_train.dropna(axis = 0, inplace = True)

eda_train.to_csv('/content/drive/MyDrive/Colab Notebooks/Machine Learning Projects/Titanic/train_eda.csv', index=False, header=True) #export for eda

eda_train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 889 entries, 0 to 890
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Survived  889 non-null    category
 1   Pclass    889 non-null    category
 2   Sex       889 non-null    category
 3   Age       889 non-null    float64
 4   SibSp     889 non-null    int64
 5   Parch     889 non-null    int64
 6   Fare      889 non-null    float64
 7   Embarked  889 non-null    category
dtypes: category(4), float64(2), int64(2)
memory usage: 38.7 KB

In [14]:
#train ready

dummies_train = pd.get_dummies(eda_train, columns=['Pclass', "Sex", "Embarked"])

dummies_train.to_csv("/content/drive/MyDrive/Colab Notebooks/Machine Learning Projects/Titanic/train_data.csv", index=False, header=True) #export for testing

In [15]:
## fill null for test
null_class = test.at[test.loc[pd.isnull(test['Fare'])].index[0], "Pclass"]

#print(null_class)
test.loc[pd.isnull(test['Fare']) & (test['Pclass'] == test.at[test.loc[pd.isnull(test['Fare'])].index[0], "Pclass"]), "Fare"] = test.groupby(['Pclass'])['Fare'].mean()[null_class]

#drop columns in test
test.drop(['PassengerId',"Name",'Ticket','Cabin'], axis = 1, inplace = True)

dummies_test = pd.get_dummies(test, columns=['Pclass', "Sex", "Embarked"])

dummies_test.to_csv("/content/drive/MyDrive/Colab Notebooks/Machine Learning Projects/Titanic/test_data.csv", index=False, header=True) #export for testing